{{#each servers}}
  <li data-id="{{@key}}" class="item">
    <a href="/xbmc-remote/tv/#{{@key}}" class="main-action">
      <div class="title">{{@key}}</div>
      <div class="detail">{{host}}:{{port}}</div>
    </a>
    <div class="sub-actions">
      <button data-action="serverEdit">Edit</button>
      <button data-action="serverDelete">Delete</button>
    </div>
  </li>
{{else}}
  <li class="item">
    <a href="/xbmc-remote/tv/#demo">
      <div class="title">Demo</div>
    </a>
  </li>
{{/each}}
<li class="item">
  <div role="button" tabindex="0" data-action="serverAdd" class="main-action has-icon">
    <svg viewBox="0 0 25.143 25.143" class="icon">
      <path d="M25.143 10.857v3.429q0 .714-.5 1.214t-1.214.5h-7.429v7.429q0 .714-.5 1.214t-1.214.5h-3.429q-.714 0-1.214-.5t-.5-1.214v-7.429h-7.429q-.714 0-1.214-.5t-.5-1.214v-3.429q0-.714.5-1.214t1.214-.5h7.429v-7.429q0-.714.5-1.214t1.214-.5h3.429q.714 0 1.214.5t.5 1.214v7.429h7.429q.714 0 1.214.5t.5 1.214z" fill="#fff"/>
    </svg>
    <div class="title">Add XBMC</div>
  </div>
</li>