{{#each servers}}
  <li data-id="{{@key}}" class="item">
    <a href="/xbmc-remote/tv/#{{@key}}" class="main-action">
      <div class="title">{{@key}}</div>
      <div class="detail">{{host}}:{{port}}</div>
    </a>
    <div class="sub-actions">
      <button data-action="serverEdit">Edit</button>
      <button data-action="serverDelete">Delete</button>
    </div>
  </li>
{{else}}
  <li class="item">
    <a href="/xbmc-remote/tv/#demo">
      <div class="title">Demo</div>
    </a>
  </li>
{{/each}}
<li class="item">
  <div role="button" tabindex="0" data-action="serverAdd" class="main-action">
    <div class="title">Add XBMC</div>
  </div>
</li>